[user]
	name = Bianca Reis
	email = hello@biancarb.com
[alias]
	br = branch
	ci = commit -m
	cia = commit --amend
	cian = commit --amend --no-edit
	co = checkout
	df = diff
	dfc = diff --cached
	lo = log --oneline
	mg = merge
	pl = pull
	plod = pull origin develop --rebase
	plom = pull origin master --rebase
	ps = push
	psod = push origin develop
	psom = push origin master
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rs = reset
	rsh = reset --hard
	rv = revert
	sh = stash
	shc = stash clear
	shl = stash list
	shp = stash pop
	st = status
[core]
	editor = vim
[color "status"]
	untracked = red
	changed = blue
	added = green
[pager]
	branch = false
